body {
  background-color: #F0F0EE; /* Replace with your desired color */
} 

nav {
          list-style-type: none;
          font-family: Roboto;
          margin: 0;
          padding: 0;
          background-color: #F0F0EE;
          overflow: hidden;
          position: fixed;
          top: 0;
          width: 100%;
          left: 0;
        }
        
        img {
            float: left;
            width: 250px;
            height: 40px;
        }
         
        li {
          float: right;
        }
        
        li a {
          display: block;
          color: #4B3B30;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #CFE0F2;
        }
        
        .active {
          background-color: #F0F0EE;
        }

        footer {
          display: flex; /* Use flexbox for centering */
          flex-direction: column; /* Column layout */
          align-items: center; /* Center items horizontally */
          justify-content: center; /* Center items vertically */
          position: fixed; /* Fixed position */
          bottom: 0; /* Stick to the bottom */
          left: 0; /* Align to the left */
          width: 100%; /* Full width */
          background-color: #CFE0F2; /* Background color */
          padding: 10px; /* Padding */
          text-align: center; /* Center text */
          box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional shadow */
          font-family: 'Gothic A1', sans-serif; /* Font for footer */
          color: #4B3B30; /* Dark brown color */
      }

      footer p {
          margin: 10px 0; /* Spacing between paragraphs */
      }

      .established {
          font-size: 0.6em; /* Smaller text size for est. 2024 */
      }


