/* css */

.header1 {
  padding: 80px; /* some padding */
  text-align: left; /* center the text */
  background: #EFEAE7; /* green background */
  color: black; /* white text color */
}

.header2 {
  padding: 80px; /* some padding */
  text-align: right; /* center the text */
  background: #EFEAE7; /* green background */
  color: black; /* white text color */
}
