/* css */

.header1 {
  padding: 80px; /* some padding */
  text-align: left;
  background: #EFEAE7;
  color: black;
}

.header2 {
  padding: 80px; /* some padding */
  text-align: right;
  background: #EFEAE7;
  color: black;
}
